Bismillah

Loading Data

In [1]:
import pandas as pd
import numpy as np
import nltk

df = pd.read_excel("C:/Users/Mirtha/Downloads/Source Code Skripsi/User Story and User Story Scenario_Revisi 2.xlsx")
df = df.fillna('')
df

,Nama Fitur,User Story,Scenario,Scenario.1,Scenario.2,Scenario.3,Scenario.4,Scenario.5,Scenario.6,Scenario.7,Scenario.8,Scenario.9,Scenario.10,Effort
0,Login,"In order to access curriculum data\nAs Admin,\...",Scenario: Login Successfully as Admin \nGiven ...,Scenario: Login Successfully as Curriculum Tea...,Scenario: Login Successfully as Lecturer \nGiv...,Scenario: Login Failed due to Incorrect NIP or...,Scenario: Login Successfully After Password Re...,,,,,,,M
1,Logout,"In order to secure my session\nAs Admin,\nI wa...",Scenario: Log out Successfully \nGiven I am on...,,,,,,,,,,,S
2,Reset Password,In order to log in to the system in case I for...,Scenario: Password Reset Successfully\nGiven I...,Scenario: Password Reset Failed due to a misma...,,,,,,,,,,M
3,Change Password,"In order to secure my account\nAs Lecturer,\nI...",Scenario: Password Change Successfully\nGiven ...,Scenario: Password Change Failed due to a mism...,Scenario: Password Change Failed due to incorr...,,,,,,,,,S
4,Create Program Outcomes,In order to establish Program Outcomes\nAs Cur...,Scenario: Create Program Outcomes Successfully...,Scenario: Create Program Outcomes Failed as th...,Scenario: Create Program Outcomes Failed Due t...,,,,,,,,,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,Read Study Program,In order to verify Study Program Data\nAs Curr...,Scenario: Read Study Program Successfully\nGiv...,,,,,,,,,,,S
74,Update Study Program,In order to improve Study Program Data \nAs Cu...,Scenario: Update Study Program Successfully\nG...,Scenario: Update Study Program Failed Due to E...,,,,,,,,,,S
75,Read User,"In order to verify User\nAs Curriculum Team,\n...",Scenario: Read User Successfully\nGiven I am o...,,,,,,,,,,,S
76,Update User,In order to improve User Data \nAs Curriculum ...,Scenario: Update User Successfully\nGiven I am...,Scenario: Update User Failed Due to Empty Data...,,,,,,,,,,S
77,Delete User,In order to remove irrelevant User\nAs Curricu...,Scenario: Delete User Management Successfully\...,,,,,,,,,,,S

Menggabungkan Data

In [2]:
# Menggabungkan data setiap kolom
df['combined'] = df.iloc[:, :13].apply(lambda x: '\n'.join(x), axis=1)

# Menampilkan hasil gabungan setiap kolom
print(df.loc[0, 'combined'])

Login
In order to access curriculum data
As Admin,
I want to log in to the system
Scenario: Login Successfully as Admin
Given I am on “http://127.0.0.1:8000/login”
When I fill in “NIP” with “32525252523”
And I fill in “Password” with “coba123”
And I press “Login”
Then the url should match “http://127.0.0.1:8000/dashboard/admin”
And the “Lecturer Name” field should contain “Admin”
Scenario: Login Successfully as Curriculum Team Member
Given I am on “http://127.0.0.1:8000/login”
When I fill in “NIP” with “197801262006041001”
And I fill in “Password” with “coba123”
And I press “Login”
Then the url should match “http://127.0.0.1:8000/dashboard/curriculum”
And the “Lecturer Name” field should contain “Badrus Zaman, S.Kom., M.Cs.”
Scenario: Login Successfully as Lecturer
Given I am on “http://127.0.0.1:8000/login”
When I fill in “NIP” with “198110282006041003”
And I fill in “Password” with “coba123”
And I press “Login”
Then the url should match “http://127.0.0.1:8000/dashboard/lecturer”
And the “Lecturer Name” field should contain “Indra Kharisma R, S.Kom., M.T.”"
Scenario: Login Failed due to Incorrect NIP or Password
Given I am on “http://127.0.0.1:8000/login”
When I fill in “NIP” with “198110282006041003”
And I fill in “Password” with “coba1234”
And I press “Login”
Then the response should contain “Incorrect NIP or Password”
Scenario: Login Successfully After Password Reset
Given I am on “http://127.0.0.1:8000/login”
When I fill in “NIP” with “197801262006041001”
And I fill in “Password” with “coba1234”
And I press “Login”
Then the response should contain “Incorrect NIP or Password”
When I press “Forgot Password”
Then the url should match “http://127.0.0.1:8000/forgot-password”
When I fill in “Email” with “badrus.zaman@fst.unair.ac.id”
And I press “Request Password”
And I follow “http://127.0.0.1:8000/reset-password/d23ba4fdc8e6f14686ae587dcf0215d2e266298ab931ec4b740f6366fa6feab2?email= badrus.zaman%40fst.unair.ac.id”
Then the url should match “http://127.0.0.1:8000/reset-password/d23ba4fdc8e6f14686ae587dcf0215d2e266298ab931ec4b740f6366fa6feab2?email= badrus.zaman%40fst.unair.ac.id”
When I fill in “New Password” with “coba1234”
And I fill in “Confirm New Password” with “coba1234”
And I press “Update Password”
Then the url should match “http://127.0.0.1:8000/login”
And the response should contain “Your password has been reset!”
When I fill in “NIP” with “198110282006041003”
And I fill in “Password” with “coba1234”
And I press “Login”
Then the url should match “http://127.0.0.1:8000/dashboard/curriculum”
And the “Lecturer Name” field should contain “Badrus Zaman, S.Kom., M.Cs.”

Numeric Feature Extraction

In [3]:
# Menghitung jumlah token dan skenario
df['combined'] = df['combined'].str.lower()
df['number_word'] = df['combined'].apply(lambda x: len(x.split()))
df['number_scenario'] = df['combined'].apply(lambda x: x.count("scenario:"))
print(df['number_word'])
print(df['number_scenario'])

# Normalisasi
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
print("Hasil normalisasi")
df[['number_word', 'number_scenario']] = scaler.fit_transform(df[['number_word', 'number_scenario']])
df[['number_word', 'number_scenario']]

0     339
1      37
2     277
3     218
4     310
     ...
73    287
74    679
75     91
76    271
77    107
Name: number_word, Length: 78, dtype: int64
0     5
1     1
2     2
3     3
4     3
     ..
73    1
74    2
75    1
76    2
77    1
Name: number_scenario, Length: 78, dtype: int64
Hasil normalisasi

    number_word  number_scenario
0      0.147389              0.4
1      0.000000              0.0
2      0.117130              0.1
3      0.088336              0.2
4      0.133236              0.2
..          ...              ...
73     0.122011              0.0
74     0.313324              0.1
75     0.026354              0.0
76     0.114202              0.1
77     0.034163              0.0

[78 rows x 2 columns]

Text Feature Extraction

In [4]:
# Text Preprocessing

# Case folding
print("Hasil case folding")
df['combined'] = df['combined'].str.lower()
print(df['combined'])

# Pembersihan teks dari tanda baca
import string
def remove_punctuation(text):
    punctuation_to_replace = string.punctuation + "‘’“”"
    translation_table = str.maketrans(punctuation_to_replace, ' ' * len(punctuation_to_replace))
    cleaned_text = text.translate(translation_table)
    return cleaned_text

df['combined'] = df['combined'].apply(remove_punctuation)
print("Hasil pembersihan teks dari tanda baca")
print(df.loc[0, 'combined'])

# Tokenisasi
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

df['combined'] = df['combined'].apply(lambda x: word_tokenize(x))
print("Hasil tokenisasi")
print(df['combined'])

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

# Stopword removal
stop_words = set(stopwords.words('english'))
def remove_stopwords(tokens):
    return [token for token in tokens if token.lower() not in stop_words]

df['combined'] = df['combined'].apply(remove_stopwords)
print("Hasil stopword removal")
print(df['combined'])

# Lematisasi
lemmatizer = WordNetLemmatizer()
def lemmatize_tokens(tokens):
    return [lemmatizer.lemmatize(token) for token in tokens]

df['combined'] = df['combined'].apply(lemmatize_tokens)
print("Hasil lematisasi")
df['combined']

Hasil case folding
0     login\nin order to access curriculum data\nas ...
1     logout\nin order to secure my session\nas admi...
2     reset password\nin order to log in to the syst...
3     change password\nin order to secure my account...
4     create program outcomes\nin order to establish...
                            ...
73    read study program\nin order to verify study p...
74    update study program\nin order to improve stud...
75    read user \nin order to verify user\nas curric...
76    update user\nin order to improve user data \na...
77    delete user \nin order to remove irrelevant us...
Name: combined, Length: 78, dtype: object
Hasil pembersihan teks dari tanda baca
login
in order to access curriculum data
as admin
i want to log in to the system
scenario  login successfully as admin
given i am on  http   127 0 0 1 8000 login
when i fill in  nip  with  32525252523
and i fill in  password  with  coba123
and i press  login
then the url should match  http   127 0 0 1 8000 dashboard admin
and the  lecturer name  field should contain  admin
scenario  login successfully as curriculum team member
given i am on  http   127 0 0 1 8000 login
when i fill in  nip  with  197801262006041001
and i fill in  password  with  coba123
and i press  login
then the url should match  http   127 0 0 1 8000 dashboard curriculum
and the  lecturer name  field should contain  badrus zaman  s kom   m cs
scenario  login successfully as lecturer
given i am on  http   127 0 0 1 8000 login
when i fill in  nip  with  198110282006041003
and i fill in  password  with  coba123
and i press  login
then the url should match  http   127 0 0 1 8000 dashboard lecturer
and the  lecturer name  field should contain  indra kharisma r  s kom   m t
scenario  login failed due to incorrect nip or password
given i am on  http   127 0 0 1 8000 login
when i fill in  nip  with  198110282006041003
and i fill in  password  with  coba1234
and i press  login
then the response should contain  incorrect nip or password
scenario  login successfully after password reset
given i am on  http   127 0 0 1 8000 login
when i fill in  nip  with  197801262006041001
and i fill in  password  with  coba1234
and i press  login
then the response should contain  incorrect nip or password
when i press  forgot password
then the url should match  http   127 0 0 1 8000 forgot password
when i fill in  email  with  badrus zaman fst unair ac id
and i press  request password
and i follow  http   127 0 0 1 8000 reset password d23ba4fdc8e6f14686ae587dcf0215d2e266298ab931ec4b740f6366fa6feab2 email  badrus zaman 40fst unair ac id
then the url should match  http   127 0 0 1 8000 reset password d23ba4fdc8e6f14686ae587dcf0215d2e266298ab931ec4b740f6366fa6feab2 email  badrus zaman 40fst unair ac id
when i fill in  new password  with  coba1234
and i fill in  confirm new password  with  coba1234
and i press  update password
then the url should match  http   127 0 0 1 8000 login
and the response should contain  your password has been reset
when i fill in  nip  with  198110282006041003
and i fill in  password  with  coba1234
and i press  login
then the url should match  http   127 0 0 1 8000 dashboard curriculum
and the  lecturer name  field should contain  badrus zaman  s kom   m cs






Hasil tokenisasi
0     [login, in, order, to, access, curriculum, dat...
1     [logout, in, order, to, secure, my, session, a...
2     [reset, password, in, order, to, log, in, to, ...
3     [change, password, in, order, to, secure, my, ...
4     [create, program, outcomes, in, order, to, est...
                            ...
73    [read, study, program, in, order, to, verify, ...
74    [update, study, program, in, order, to, improv...
75    [read, user, in, order, to, verify, user, as, ...
76    [update, user, in, order, to, improve, user, d...
77    [delete, user, in, order, to, remove, irreleva...
Name: combined, Length: 78, dtype: object

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Mirtha\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Mirtha\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Mirtha\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

Hasil stopword removal
0     [login, order, access, curriculum, data, admin...
1     [logout, order, secure, session, admin, want, ...
2     [reset, password, order, log, system, case, fo...
3     [change, password, order, secure, account, lec...
4     [create, program, outcomes, order, establish, ...
                            ...
73    [read, study, program, order, verify, study, p...
74    [update, study, program, order, improve, study...
75    [read, user, order, verify, user, curriculum, ...
76    [update, user, order, improve, user, data, cur...
77    [delete, user, order, remove, irrelevant, user...
Name: combined, Length: 78, dtype: object
Hasil lematisasi

0     [login, order, access, curriculum, data, admin...
1     [logout, order, secure, session, admin, want, ...
2     [reset, password, order, log, system, case, fo...
3     [change, password, order, secure, account, lec...
4     [create, program, outcome, order, establish, p...
                            ...
73    [read, study, program, order, verify, study, p...
74    [update, study, program, order, improve, study...
75    [read, user, order, verify, user, curriculum, ...
76    [update, user, order, improve, user, data, cur...
77    [delete, user, order, remove, irrelevant, user...
Name: combined, Length: 78, dtype: object

In [5]:
# TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer

# Mengembalikan ke bentuk string
df['combined'] = df['combined'].apply(lambda x: ' '.join(x))

tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(df['combined'])

tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf_vectorizer.get_feature_names_out())
tfidf_df

,100,105,127,197101042008121001,197102111997021001,197801262006041001,198105082005012001,198110282006041003,1x3x50,2002,...,week,weekly,weight,well,wichern,within,workshop,world,year,zaman
0,0.0,0.0,0.096120,0.0,0.0,0.069152,0.0,0.070365,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.17288
1,0.0,0.0,0.114675,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000
2,0.0,0.0,0.060144,0.0,0.0,0.000000,0.0,0.042398,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000
3,0.0,0.0,0.043085,0.0,0.0,0.000000,0.0,0.068337,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000
4,0.0,0.0,0.031880,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,0.0,0.0,0.013500,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.053772,0.0,0.0,0.0,0.0,0.0,0.00000
74,0.0,0.0,0.023309,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.046421,0.0,0.0,0.0,0.0,0.0,0.00000
75,0.0,0.0,0.030899,0.0,0.0,0.000000,0.0,0.098020,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000
76,0.0,0.0,0.048248,0.0,0.0,0.000000,0.0,0.229580,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000
77,0.0,0.0,0.052848,0.0,0.0,0.000000,0.0,0.167647,0.0,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000

Data Integration

In [6]:
# Concatenate 'effort' column of the original DataFrame with TF-IDF DataFrame
integrated_data = pd.concat([tfidf_df, df[['number_word', 'number_scenario', 'Effort']]], axis=1)
integrated_data

,100,105,127,197101042008121001,197102111997021001,197801262006041001,198105082005012001,198110282006041003,1x3x50,2002,...,well,wichern,within,workshop,world,year,zaman,number_word,number_scenario,Effort
0,0.0,0.0,0.096120,0.0,0.0,0.069152,0.0,0.070365,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.17288,0.147389,0.4,M
1,0.0,0.0,0.114675,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,S
2,0.0,0.0,0.060144,0.0,0.0,0.000000,0.0,0.042398,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.117130,0.1,M
3,0.0,0.0,0.043085,0.0,0.0,0.000000,0.0,0.068337,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.088336,0.2,S
4,0.0,0.0,0.031880,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.133236,0.2,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,0.0,0.0,0.013500,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,...,0.053772,0.0,0.0,0.0,0.0,0.0,0.00000,0.122011,0.0,S
74,0.0,0.0,0.023309,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,...,0.046421,0.0,0.0,0.0,0.0,0.0,0.00000,0.313324,0.1,S
75,0.0,0.0,0.030899,0.0,0.0,0.000000,0.0,0.098020,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.026354,0.0,S
76,0.0,0.0,0.048248,0.0,0.0,0.000000,0.0,0.229580,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.114202,0.1,S
77,0.0,0.0,0.052848,0.0,0.0,0.000000,0.0,0.167647,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.00000,0.034163,0.0,S

Model (Text)

In [16]:
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.multioutput import MultiOutputClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import make_scorer
from sklearn.metrics import accuracy_score


# Data teks dan effort
X = tfidf_df
y = df["Effort"].to_numpy()

# One-hot encode the target variable
enc = OneHotEncoder(sparse=False)
y_encoded = enc.fit_transform(y.reshape(-1, 1)) 

# Adaboost
clf = MultiOutputClassifier(AdaBoostClassifier(random_state=42))
scorer = make_scorer(accuracy_score) # Menggunakan akurasi untuk scoring
cv_scores = cross_val_score(clf, X, y_encoded, cv=5, scoring=scorer) # Perform 5-fold cross validation

# Akurasi Adaboost
print("Cross-validation scores dari Adaboost:", cv_scores)
print("Mean Cross-validation score dari Adaboost:", np.mean(cv_scores))

# Decision Tree
clf = DecisionTreeClassifier(random_state=42)
cv_scores = cross_val_score(clf, X, y_encoded, cv=5, scoring=scorer) # Perform 5-fold cross validation

# Akurasi Decision Tree
print("Cross-validation scores dari Decision Tree:", cv_scores)
print("Mean Cross-validation score dari Decision Tree:", np.mean(cv_scores))


# Multinomial Naive Bayes
clf = MultinomialNB()
cv_scores = cross_val_score(clf, X, np.argmax(y_encoded, axis=1), cv=5, scoring=scorer)# Perform 5-fold cross validation

# Akurasi Multinomial Naive Bayes
print("Cross-validation scores dari Multinomial Naive Bayes:", cv_scores)
print("Mean Cross-validation score dari Multinomial Naive Bayes:", np.mean(cv_scores))

# Adaboost
clf = MultiOutputClassifier(AdaBoostClassifier(random_state=42))
scorer = make_scorer(accuracy_score) # Menggunakan akurasi untuk scoring
cv_scores = cross_val_score(clf, X, y_encoded, cv=10, scoring=scorer) # Perform 10-fold cross validation

# Akurasi Adaboost
print("Cross-validation scores dari Adaboost:", cv_scores)
print("Mean Cross-validation score dari Adaboost:", np.mean(cv_scores))

# Decision Tree
clf = DecisionTreeClassifier(random_state=42)
cv_scores = cross_val_score(clf, X, y_encoded, cv=10, scoring=scorer) # Perform 10-fold cross validation

# Akurasi Decision Tree
print("Cross-validation scores dari Decision Tree:", cv_scores)
print("Mean Cross-validation score dari Decision Tree:", np.mean(cv_scores))


# Multinomial Naive Bayes
clf = MultinomialNB()
cv_scores = cross_val_score(clf, X, np.argmax(y_encoded, axis=1), cv=10, scoring=scorer)# Perform 10-fold cross validation

# Akurasi Multinomial Naive Bayes
print("Cross-validation scores dari Multinomial Naive Bayes:", cv_scores)
print("Mean Cross-validation score dari Multinomial Naive Bayes:", np.mean(cv_scores))

c:\Users\Mirtha\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Cross-validation scores dari Adaboost: [0.125  0.25   0.8125 0.4    0.4   ]
Mean Cross-validation score dari Adaboost: 0.39749999999999996
Cross-validation scores dari Decision Tree: [0.125      0.25       0.875      0.53333333 0.33333333]
Mean Cross-validation score dari Decision Tree: 0.42333333333333334

c:\Users\Mirtha\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=5.
  warnings.warn(

Cross-validation scores dari Multinomial Naive Bayes: [0.5625     0.625      0.5        0.53333333 0.6       ]
Mean Cross-validation score dari Multinomial Naive Bayes: 0.5641666666666667
Cross-validation scores dari Adaboost: [0.75       0.5        0.5        0.         1.         0.75
 0.75       0.         0.14285714 0.57142857]
Mean Cross-validation score dari Adaboost: 0.49642857142857144
Cross-validation scores dari Decision Tree: [0.75       1.         0.5        0.         1.         0.75
 0.75       0.375      0.28571429 0.57142857]
Mean Cross-validation score dari Decision Tree: 0.5982142857142857

c:\Users\Mirtha\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=10.
  warnings.warn(

Cross-validation scores dari Multinomial Naive Bayes: [0.5        0.5        0.5        0.5        0.625      0.625
 0.625      0.5        0.57142857 0.57142857]
Mean Cross-validation score dari Multinomial Naive Bayes: 0.5517857142857142

Model (Numerik)

In [17]:
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.multioutput import MultiOutputClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import make_scorer
from sklearn.metrics import accuracy_score


# Data teks dan effort
X = df[['number_word', 'number_scenario']]

# Adaboost
clf = MultiOutputClassifier(AdaBoostClassifier(random_state=42))
cv_scores = cross_val_score(clf, X, y_encoded, cv=5, scoring=scorer) # Perform 5-fold cross validation

# Akurasi Adaboost
print("Cross-validation scores dari Adaboost:", cv_scores)
print("Mean Cross-validation score dari Adaboost:", np.mean(cv_scores))

# Decision Tree
clf = DecisionTreeClassifier(random_state=42)
cv_scores = cross_val_score(clf, X, y_encoded, cv=5, scoring=scorer) # Perform 5-fold cross validation

# Akurasi Decision Tree
print("Cross-validation scores dari Decision Tree:", cv_scores)
print("Mean Cross-validation score dari Decision Tree:", np.mean(cv_scores))


# Multinomial Naive Bayes
clf = MultinomialNB()
cv_scores = cross_val_score(clf, X, np.argmax(y_encoded, axis=1), cv=5, scoring=scorer)# Perform 5-fold cross validation

# Akurasi Multinomial Naive Bayes
print("Cross-validation scores dari Multinomial Naive Bayes:", cv_scores)
print("Mean Cross-validation score dari Multinomial Naive Bayes:", np.mean(cv_scores))

# Adaboost
clf = MultiOutputClassifier(AdaBoostClassifier(random_state=42))
scorer = make_scorer(accuracy_score) # Menggunakan akurasi untuk scoring
cv_scores = cross_val_score(clf, X, y_encoded, cv=10, scoring=scorer) # Perform 10-fold cross validation

# Akurasi Adaboost
print("Cross-validation scores dari Adaboost:", cv_scores)
print("Mean Cross-validation score dari Adaboost:", np.mean(cv_scores))

# Decision Tree
clf = DecisionTreeClassifier(random_state=42)
cv_scores = cross_val_score(clf, X, y_encoded, cv=10, scoring=scorer) # Perform 10-fold cross validation

# Akurasi Decision Tree
print("Cross-validation scores dari Decision Tree:", cv_scores)
print("Mean Cross-validation score dari Decision Tree:", np.mean(cv_scores))


# Multinomial Naive Bayes
clf = MultinomialNB()
cv_scores = cross_val_score(clf, X, np.argmax(y_encoded, axis=1), cv=10, scoring=scorer)# Perform 10-fold cross validation

# Akurasi Multinomial Naive Bayes
print("Cross-validation scores dari Multinomial Naive Bayes:", cv_scores)
print("Mean Cross-validation score dari Multinomial Naive Bayes:", np.mean(cv_scores))

Cross-validation scores dari Adaboost: [0.25       0.1875     0.5625     0.33333333 0.2       ]
Mean Cross-validation score dari Adaboost: 0.30666666666666664
Cross-validation scores dari Decision Tree: [0.3125     0.1875     0.5625     0.66666667 0.4       ]
Mean Cross-validation score dari Decision Tree: 0.4258333333333333
Cross-validation scores dari Multinomial Naive Bayes: [0.5625     0.5625     0.5        0.53333333 0.6       ]
Mean Cross-validation score dari Multinomial Naive Bayes: 0.5516666666666666

c:\Users\Mirtha\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=5.
  warnings.warn(

Cross-validation scores dari Adaboost: [0.5        0.         0.25       0.         0.75       0.5
 0.875      0.625      0.14285714 0.28571429]
Mean Cross-validation score dari Adaboost: 0.39285714285714285
Cross-validation scores dari Decision Tree: [0.75       0.         0.375      0.         0.625      0.5
 0.875      0.625      0.14285714 0.28571429]
Mean Cross-validation score dari Decision Tree: 0.41785714285714287
Cross-validation scores dari Multinomial Naive Bayes: [0.5        0.5        0.5        0.5        0.625      0.625
 0.625      0.5        0.57142857 0.57142857]
Mean Cross-validation score dari Multinomial Naive Bayes: 0.5517857142857142

c:\Users\Mirtha\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=10.
  warnings.warn(

Model (Numerik + Text)

In [18]:
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.multioutput import MultiOutputClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import make_scorer
from sklearn.metrics import accuracy_score


# Data teks dan effort
X = integrated_data.drop(columns=['Effort'])

# Adaboost
clf = MultiOutputClassifier(AdaBoostClassifier(random_state=42))
cv_scores = cross_val_score(clf, X, y_encoded, cv=5, scoring=scorer) # Perform 5-fold cross validation

# Akurasi Adaboost
print("Cross-validation scores dari Adaboost:", cv_scores)
print("Mean Cross-validation score dari Adaboost:", np.mean(cv_scores))

# Decision Tree
clf = DecisionTreeClassifier(random_state=42)
cv_scores = cross_val_score(clf, X, y_encoded, cv=5, scoring=scorer) # Perform 5-fold cross validation

# Akurasi Decision Tree
print("Cross-validation scores dari Decision Tree:", cv_scores)
print("Mean Cross-validation score dari Decision Tree:", np.mean(cv_scores))


# Multinomial Naive Bayes
clf = MultinomialNB()
cv_scores = cross_val_score(clf, X, np.argmax(y_encoded, axis=1), cv=5, scoring=scorer)# Perform 5-fold cross validation

# Akurasi Multinomial Naive Bayes
print("Cross-validation scores dari Multinomial Naive Bayes:", cv_scores)
print("Mean Cross-validation score dari Multinomial Naive Bayes:", np.mean(cv_scores))

# Adaboost
clf = MultiOutputClassifier(AdaBoostClassifier(random_state=42))
scorer = make_scorer(accuracy_score) # Menggunakan akurasi untuk scoring
cv_scores = cross_val_score(clf, X, y_encoded, cv=10, scoring=scorer) # Perform 10-fold cross validation

# Akurasi Adaboost
print("Cross-validation scores dari Adaboost:", cv_scores)
print("Mean Cross-validation score dari Adaboost:", np.mean(cv_scores))

# Decision Tree
clf = DecisionTreeClassifier(random_state=42)
cv_scores = cross_val_score(clf, X, y_encoded, cv=10, scoring=scorer) # Perform 10-fold cross validation

# Akurasi Decision Tree
print("Cross-validation scores dari Decision Tree:", cv_scores)
print("Mean Cross-validation score dari Decision Tree:", np.mean(cv_scores))


# Multinomial Naive Bayes
clf = MultinomialNB()
cv_scores = cross_val_score(clf, X, np.argmax(y_encoded, axis=1), cv=10, scoring=scorer)# Perform 10-fold cross validation

# Akurasi Multinomial Naive Bayes
print("Cross-validation scores dari Multinomial Naive Bayes:", cv_scores)
print("Mean Cross-validation score dari Multinomial Naive Bayes:", np.mean(cv_scores))

Cross-validation scores dari Adaboost: [0.125      0.25       0.875      0.66666667 0.26666667]
Mean Cross-validation score dari Adaboost: 0.43666666666666665
Cross-validation scores dari Decision Tree: [0.125      0.25       0.875      0.53333333 0.6       ]
Mean Cross-validation score dari Decision Tree: 0.4766666666666667

c:\Users\Mirtha\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=5.
  warnings.warn(

Cross-validation scores dari Multinomial Naive Bayes: [0.5625     0.625      0.5        0.53333333 0.6       ]
Mean Cross-validation score dari Multinomial Naive Bayes: 0.5641666666666667
Cross-validation scores dari Adaboost: [0.75       0.5        0.375      0.         0.875      1.
 0.75       0.25       0.14285714 0.71428571]
Mean Cross-validation score dari Adaboost: 0.5357142857142858
Cross-validation scores dari Decision Tree: [0.75       1.         0.         0.         1.         0.75
 0.75       0.375      0.57142857 1.        ]
Mean Cross-validation score dari Decision Tree: 0.6196428571428572

c:\Users\Mirtha\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\model_selection\_split.py:737: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=10.
  warnings.warn(

Cross-validation scores dari Multinomial Naive Bayes: [0.5        0.5        0.5        0.5        0.625      0.625
 0.625      0.5        0.57142857 0.57142857]
Mean Cross-validation score dari Multinomial Naive Bayes: 0.5517857142857142